<div id="main">
	<p>
		Hello, my name is Joe and this is my space on the web. My main interest is in conscious self-exploration, primarily through direct experience. This has led me to leave my native home in the United States and travel in search of people and situations that will, I hope, start to answer the question: What's the deal with this whole life thing?
	</p>
	<p>
		My activities thus far primarily consist of volunteering on various farm and construction projects, attending meditation retreats and using my knowledge of computer programming to create websites for projects and organizations that I believe in. I've already met some really amazing people and have seen myself grow along the way to the point where I absolutely do not think that I could have written this with any sort of authenticity even a few months ago.
	</p>
	<p>
		I am truly interested in meeting and mutually supporting others on a path that is similar to mine or uniquely their own. If you are interested in working together, traveling together or just want to drop me a line feel free to email me at <a href="mailto:jepeloqu@gmail.com">jepeloqu@gmail.com</a>
	</p>
	<h4>Current Status as of October 4th, 2013.</h4>
	<p>	
		I have been traveling for 6 months since April 12th, 2013.
	</p>
	<p>
		Just a quick update as to my location, I'm back in Norwich. The current plan is to stay with Darran and Adeline until I leave for India at the end of November.
	</p>
	<p>
		My main reason for posting today is to share the source code for a basic game I wrote back in 2012 and early 2013 while tutoring a 13 year old boy in Java game development. Originally, I had some ideas of using my lessons to create a series of tutorials or even upgrading the game to show you what was going on in the code while you were playing. I think the second is actually a pretty cool idea and would be way more interesting format for learning to code than watching a video or reading about it. Unfortunately, whenever I've sat down to start implementing this stuff I've felt quite daunted.
	</p>
	<p>
		So, as a first step I've decided to make the source code publicly available online. It honestly isn't groundbreaking stuff but I think it's better written than a good few of the java coding videos I've seen on youtube and implements a few intermediate techniques that aren't covered in the greater mass of online game development tutorials. There are quite a few shortcomings; it's not very polished and some of the more hardware-esque type things like resolution changes or a clock that runs well on a computer other than my own are almost totally ignored, but it does cover the implementation of some basic game mechanics pretty well. Here's a list of them:
		<ul>
			<li>2d movement and physics system</li>
			<li>Tile based level implementation</li>
			<li>Collision detection</li>
			<li>Simple AI scripting</li>
			<li>Player character, enemies and obstacles</li>
			<li>Simple camera system</li>
		</ul>
	</p>
	<p>
		It's also worth pointing out that the game engine is essentially written from scratch, which can be a good learning tool. All in all, I would say that if you learning game development in Java you may find this code useful to:
		<ol>
			<li>Learn some basic game mechanics</li>
			<li>Copy or adapt chunks of code for whatever project your working on</li>
			<li>Use as a foundation for making something way better (not that hard to do)</li>
		</ol>
		That's about it. Feel free to use the source code for whatever, although I would appreciate it if you link back to this site should you share or publish it in any fashion. I'm also quite happy to answer any questions you have via email at <a href="mailto:jepeloqu@gmail.com">jepeloqu@gmail.com</a>
	</p>
	<p>
		Click <a href="https://github.com/jepeloqu/Coders-Block" target="_blank">here</a> to access the source code on github. 
	</p>
</div>