<div id="main">
	<p>
		My name is Joe Peloquin and this is my space on the web. I am a traveller, entrepeneur and seeker of truth. 
	</p>
	<h4>Current Location</h4>
	<p>
		Tourtoirac, France. I'm staying with an awesome family and helping them build their very own eco-home. This volunteer project was found through 
	 	<a href="http://workaway.info/" target="_blank">workaway.</a>
	</p>
	<h4>Currect Projects</h4>
	<p>
		<a href="http://essencediamant.org/" target="_blank">Essence Diamant</a>
		is a nonprofit organization formed with the goal of bringing the work of 
		<a href="http://ahalmaas.com/" target="_blank">A.H. Almaas's</a>
		Diamond Approach to France. My main contribution to the project is the ongoing development of their website.
	</p>
	<p>
		If you are interested in working together, traveling together or just want to drop me a line feel free to email me at <a href="mailto:jepeloqu@gmail.com">jepeloqu@gmail.com</a>
	</p>
</div>