<div id="main">
	<p>
		Hello, my name is Joe and this is my space on the web. My main interest is in conscious self-exploration, primarily through direct experience. This has led me to leave my native home in the United States and travel in search of people and situations that will, I hope, start to answer the question: What's the deal with this whole life thing?
	</p>
	<p>
		My activities thus far primarily consist of volunteering on various farm and construction projects, attending meditation retreats and using my knowledge of computer programming to create websites for projects and organizations that I believe in. I've already met some really amazing people and have seen myself grow along the way to the point where I absolutely do not think that I could have written this with any sort of authenticity even a few months ago.
	</p>
	<p>
		I am truly interested in meeting and mutually supporting others on a path that is similar to mine or uniquely their own. If you are interested in working together, traveling together or just want to drop me a line feel free to email me at <a href="mailto:jepeloqu@gmail.com">jepeloqu@gmail.com</a>
	</p>
	<h4>Current Status as of August 13th, 2013</h4>
	<p>
		I have been traveling for 4 months since April 12th, 2013.
	</p>
	<p>
		I am currently in the UK staying with my friends Darran and Adeline in Norwich, which coincidentally is the name of the town where I was born in the United States. Next week I will be moving on to Wales, where I will be volunteering at a family run organic farm until October.
	</p>
	<p>
		One of my recent experiences that has really opened me up has been a 10 day walking pilgrimage I recently attended in france called <a href="http://dharmayatra.org/" target="_blank">The Dharma Yatra.</a> The sense of community, acceptance and consistent field of loving-kindness present during this time really affected me and I saw many of my day-to-day fortifications drop away. I am still feeling the effects of this and am presently witnessing connections initiated on the yatra continue to develop and strengthen. It is really blowing me away and I am feeling, among other things, a strong sense of gratitude and hope.
	</p>
	<p>
		My current intentions for the future involve attending a series of meditation and work retreats taking place in Israel and India. They are already described beautifully on SanghaSeva's website and I invite you to read up on them <a href="http://sanghaseva.org/comingup.html#bp13" target="_blank">there.</a>
	</p>
	<p>
		With Love,
	</p>
	<p>
		Joe
	</p>
</div>