<div id="main">
	<p>
		Hello, my name is Joe and this is my space on the web. My main interest is in conscious self-exploration, primarily through direct experience. This has led me to leave my native home in the United States and travel in search of people and situations that will, I hope, start to answer the question: What's the deal with this whole life thing?
	</p>
	<p>
		My activities thus far primarily consist of volunteering on various farm and construction projects, attending meditation retreats and using my knowledge of computer programming to create websites for projects and organizations that I believe in. I've already met some really amazing people and have seen myself grow along the way to the point where I absolutely do not think that I could have written this with any sort of authenticity even a few months ago.
	</p>
	<p>
		I am truly interested in meeting and mutually supporting others on a path that is similar to mine or uniquely their own. If you are interested in working together, traveling together or just want to drop me a line feel free to email me at <a href="mailto:jepeloqu@gmail.com">jepeloqu@gmail.com</a>
	</p>
	<h4>Current Status as of November 27th, 2013.</h4>
	<p>	
		I have been traveling for 7 months since April 12th, 2013.
	</p>
	<p>
		I'm leaving for India tomorrow. I intend to be there until May 2014. If you're interested in seeing some of what I'll be doing check out <a href="http://sanghaseva.org" target="_blank">www.sanghaseva.org.</a>
	</p>
</div>