<h4>Previous Status as of August 13th, 2013</h4>
	<p>
		I have been traveling for 4 months since April 12th, 2013.
	</p>
	<p>
		I am currently in the UK staying with my friends Darran and Adeline in Norwich, which coincidentally is the name of the town where I was born in the United States. Next week I will be moving on to Wales, where I will be volunteering at a family run organic farm until October.
	</p>
	<p>
		One of my recent experiences that has really opened me up has been a 10 day walking pilgrimage I attended in france called <a href="http://dharmayatra.org/" target="_blank">The Dharma Yatra.</a> The sense of community, acceptance and consistent field of loving-kindness present during this time really affected me and I saw many of my day-to-day fortifications drop away. I am still feeling the effects of this and am presently witnessing connections initiated on the yatra continue to develop and strengthen. It is really blowing me away and I am feeling, among other things, a strong sense of gratitude and hope.
	</p>
	<p>
		My current intentions for the future involve attending a series of meditation and work retreats taking place in Israel and India. They are already described beautifully on SanghaSeva's website and I invite you to read up on them <a href="http://sanghaseva.org/comingup.html#bp13" target="_blank">there.</a>
	</p>
	<p>
		With Love,
	</p>
	<p>
		Joe
	</p>