	<h4>Previous Status as of October 4th, 2013.</h4>
	<p>	
		I have been traveling for 6 months since April 12th, 2013.
	</p>
	<p>
		Just a quick update as to my location, I'm back in Norwich. The current plan is to stay with Darran and Adeline until I leave for India at the end of November.
	</p>
	<p>
		My main reason for posting today is to share the source code for a basic game I wrote back in 2012 and early 2013 while tutoring a 13 year old boy in Java game development. Originally, I had some ideas of using my lessons to create a series of tutorials or even upgrading the game to show you what was going on in the code while you were playing. I think the second is actually a pretty cool idea and would be way more interesting format for learning to code than watching a video or reading about it. Unfortunately, whenever I've sat down to start implementing this stuff I've felt quite daunted.
	</p>
	<p>
		So, as a first step I've decided to make the source code publicly available online. It honestly isn't groundbreaking stuff but I think it's better written than a good few of the java coding videos I've seen on youtube and implements a few intermediate techniques that aren't covered in the greater mass of online game development tutorials. There are quite a few shortcomings; it's not very polished and some of the more hardware-esque type things like resolution changes or a clock that runs well on a computer other than my own are almost totally ignored, but it does cover the implementation of some basic game mechanics pretty well. Here's a list of them:
		<ul>
			<li>2d movement and physics system</li>
			<li>Tile based level implementation</li>
			<li>Collision detection</li>
			<li>Simple AI scripting</li>
			<li>Player character, enemies and obstacles</li>
			<li>Simple camera system</li>
		</ul>
	</p>
	<p>
		It's also worth pointing out that the game engine is essentially written from scratch, which can be a good learning tool. All in all, I would say that if you learning game development in Java you may find this code useful to:
		<ol>
			<li>Learn some basic game mechanics</li>
			<li>Copy or adapt chunks of code for whatever project your working on</li>
			<li>Use as a foundation for making something way better (not that hard to do)</li>
		</ol>
		That's about it. Feel free to use the source code for whatever, although I would appreciate it if you link back to this site should you share or publish it in any fashion. I'm also quite happy to answer any questions you have via email at <a href="mailto:jepeloqu@gmail.com">jepeloqu@gmail.com</a>
	</p>
	<p>
		Click <a href="https://github.com/jepeloqu/Coders-Block" target="_blank">here</a> to access the source code on github. 
	</p>
<h4>Previous Status as of August 13th, 2013</h4>
	<p>
		I have been traveling for 4 months since April 12th, 2013.
	</p>
	<p>
		I am currently in the UK staying with my friends Darran and Adeline in Norwich, which coincidentally is the name of the town where I was born in the United States. Next week I will be moving on to Wales, where I will be volunteering at a family run organic farm until October.
	</p>
	<p>
		One of my recent experiences that has really opened me up has been a 10 day walking pilgrimage I attended in france called <a href="http://dharmayatra.org/" target="_blank">The Dharma Yatra.</a> The sense of community, acceptance and consistent field of loving-kindness present during this time really affected me and I saw many of my day-to-day fortifications drop away. I am still feeling the effects of this and am presently witnessing connections initiated on the yatra continue to develop and strengthen. It is really blowing me away and I am feeling, among other things, a strong sense of gratitude and hope.
	</p>
	<p>
		My current intentions for the future involve attending a series of meditation and work retreats taking place in Israel and India. They are already described beautifully on SanghaSeva's website and I invite you to read up on them <a href="http://sanghaseva.org/comingup.html#bp13" target="_blank">there.</a>
	</p>
	<p>
		With Love,
	</p>
	<p>
		Joe
	</p>