/* universal */
body {
  color: #333333;
  font: 15px/22px Helvetica,Arial,Verdana,sans-serif;
  line-height: 20px;
} 

a {
  color: #0088CC;
  text-decoration: none;
}

hr {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#dhr {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 0.1em;
    margin: 0 0 1.4em;
    width: 100%;
}

/* header */
header {
	background-color: white;
	h1 {
		width: 550px;
		margin: auto;
	}
}

/* main */
#main {
	background-color: white;
	margin-top: 60px;
	width: 550px;
	margin: auto;
}