/* MIXINS, VARIABLES, ETC. */
$textDefault: #333333;
$navText: #333;
$navTextHover: #F2F2F2;

$link: #0088CC;

$background: #EBEBEB;
$navBackground: #D6D6D6;
$navBackgroundHover: #333;

/* UNIVERSAL */
body {
	width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  color: $textDefault;
  font: 15px/22px Helvetica,Arial,Verdana,sans-serif;
  line-height: 20px;
  background-color: $background;
} 

a {
  color: $link;
  text-decoration: none;
}

/* HEADER */
header {
	h1 {
		width: 550px;
		margin: auto;
	}
}

nav {
	&:before {
		clear: both;
    content: "";
    display: table;
    line-height: 0;
	}
  &:after {
    clear: both;
    content: "";
    display: table;
    line-height: 0;
  }
  ul {
  	width: 550px;
    float: left;
    list-style: none;
    li {
      float: right;
      a {
        display: block;
        padding: 8px 15px;
        font-weight: bold;
        font-style: italic;
        color: $navText;
        -moz-border-radius: 15px;
        border-radius: 15px;
        &:hover {
          background-color: $navBackgroundHover;
          color: $navTextHover;
        }
      }
    }
  }
}
